@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  .dark {
    color-scheme: dark;
  }

  html,
  body,
  #root {
    min-height: 100%;
  }

  body {
    @apply bg-bg font-sans text-base text-text antialiased;
  }
}
